name: cicd pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  compile:
    runs-on: agent 1
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: setup node.js
        uses: actions/setup-node@v4
        with:
          node-version: '23'

      - name: frontend Compilation
        run: |
          cd client
          find . -name "*.js" -exec node --check {} +

      - name: backend Compilation
        run: |
          cd api
          find . -name "*.js" -exec node --check {} +
  git-leaks-scan:
       runs-on: agent 1
       steps:
       - name: checkout
         uses: actions/checkout@v4

       - name: Run Gitleaks
         uses: gitleaks/gitleaks-action@v2
         
       - name: Gitleak Scan
         run: |
           gitleaks detect --source ./client --exit-code 1
              gitleaks detect --source ./api --exit-code 1
              
  trivy-Scan:
          runs-on: agent 1
          steps :
          - name: Checkout code
            uses: actions/checkout@v4

          - name: Run Trivy vulnerability scanner with rootfs command
            uses: aquasecurity/trivy-action@0.33.1
            with:
                    scan-type: 'fs'
                    scan-ref: '.'
                    ignore-unfixed: true
                    format: 'table'
                    output: 'trivy-results.sarif'
                    severity: 'CRITICAL'
       
sonar-scanner:
        runs-on: agent 1
        needs:  trivy-Scan
        steps :
          - name: Checkout code
            uses: actions/checkout@v4

          - name: Setup Sonar
            id: setupSonar
            uses: nelsoncanarinho/setup-sonar@v1.0.0
            with:
              SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

         - name: SonarCloud Scan
           uses: sonarsource/sonarcloud-github-action@master
           with:
          args: >
             -Dsonar.organization=${{steps.setupSonar.outputs.SONAR_ORGANIZATION}}
             -Dsonar.projectKey=${{steps.setupSonar.outputs.SONAR_PROJECT_KEY}}
             -Dsonar.qualitygate.wait=true ## Failed analysis will fail the action




            
