name: cicd pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  compile:
    runs-on: agent 1
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: setup node.js
        uses: actions/setup-node@v4
        with:
          node-version: '23'

      - name: frontend Compilation
        run: |
          cd client
          find . -name "*.js" -exec node --check {} +

      - name: backend Compilation
        run: |
          cd server
          find . -name "*.js" -exec node --check {} +

